@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/** font-family

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

*/
.headerNavbar {
  width: 100%;
  height: 9.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #26272A;
  color: white;
  padding: 1.875rem;
  font-family: "Lato",sans-serif;
  font-weight: 100;
  font-style: normal;
  position: sticky;
  top: 0; }
  .headerNavbar h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-style: normal; }
    .headerNavbar h1 a {
      color: white;
      list-style: none;
      text-decoration: none; }

main {
  background-color: #26272A;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: "Lato",sans-serif;
  font-weight: 100;
  font-style: normal; }

.footerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.875rem;
  font-family: "Lato",sans-serif;
  font-weight: 300;
  font-style: normal;
  gap: .625rem; }
  .footerPrincipal h2 {
    padding-bottom: 1.25rem;
    font-size: x-large; }
  .footerPrincipal div {
    color: #26272A; }
    .footerPrincipal div a {
      font-weight: 300;
      text-decoration: none;
      color: #26272A; }
    .footerPrincipal div p {
      font-weight: 50;
      text-align: center;
      padding: .625rem .625rem; }

.footerEnd {
  padding: 1.875rem;
  font-family: "Lato",sans-serif;
  font-weight: 100;
  font-style: normal; }

.mainUs {
  height: 100%; }
  .mainUs h2 {
    padding: 1.875rem 1.875rem;
    font-family: "Lato",sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px; }

.mainProducts {
  font-family: "Lato",sans-serif; }

.sectionPrincipal {
  background-image: url(../assets/Imagen/couch-product.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3.125rem; }
  .sectionPrincipal h2 {
    font-size: 3.125rem;
    color: #26272A;
    letter-spacing: .125rem;
    font-weight: 300; }
  .sectionPrincipal div {
    background-color: rgba(0, 0, 0, 0.297);
    width: 17%;
    padding: .5rem; }
    .sectionPrincipal div h3 {
      padding-bottom: .9375rem;
      font-size: x-large;
      font-weight: 300; }
    .sectionPrincipal div p {
      font-size: medium;
      font-weight: 100;
      color: white; }

.sectionPrincipal2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1.875rem; }
  .sectionPrincipal2 .aboutUs {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.875rem; }
    .sectionPrincipal2 .aboutUs h2 {
      font-size: 1.875rem; }

.sectionButton {
  width: 100%;
  color: white;
  text-align: end;
  padding-right: 6.25rem; }
  .sectionButton a {
    font-size: 1.875rem;
    list-style: none;
    text-decoration: none;
    color: white; }

.itemLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 6.25rem;
  padding-bottom: 12.5rem;
  gap: 6.25rem; }
  .itemLink .option1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    border: .0625rem solid white;
    border-radius: .5rem;
    padding: .625rem .625rem;
    font-weight: 300;
    font-style: normal; }
    .itemLink .option1 h4 {
      font-size: x-large; }

.usMg {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
  padding-left: 12.5rem;
  padding-bottom: 6.25rem; }

.usMgreverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1.25rem;
  padding-right: 12.5rem;
  padding-bottom: 6.25rem; }

.couchLisboa {
  background-image: url(../assets/Imagen/lisboa-couch-desing.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 9.375rem; }
  .couchLisboa a {
    padding: .625rem;
    color: #26272A;
    font-size: normal;
    text-decoration: none;
    letter-spacing: .375rem;
    font-size: 2.5rem; }

.couchAmerico {
  background-image: url(../assets/Imagen/americo-couch-desing.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 9.375rem; }
  .couchAmerico a {
    padding: .625rem;
    color: #26272A;
    font-size: normal;
    text-decoration: none;
    letter-spacing: .375rem;
    font-size: 2.5rem; }

.couchAfrica {
  background-image: url(../assets/Imagen/africa-couch-desing.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 9.375rem; }
  .couchAfrica a {
    padding: .625rem;
    color: #26272A;
    font-size: normal;
    text-decoration: none;
    letter-spacing: .375rem;
    font-size: 2.5rem; }

.couchPraga {
  background-image: url(../assets/Imagen/praga-couch-desing.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 9.375rem; }
  .couchPraga a {
    padding: .625rem;
    color: #26272A;
    font-size: normal;
    text-decoration: none;
    letter-spacing: .375rem;
    font-size: 2.5rem; }

.gridDesing {
  display: grid;
  grid-template-rows: 18.75rem 18.75rem 18.75rem;
  gap: .625rem; }
  .gridDesing .grid1 {
    width: 100%;
    background-image: url(../assets/imagen/couch-product-4.jpg);
    background-position: center; }
    .gridDesing .grid1 a {
      text-decoration: none;
      color: white;
      font-size: 48px;
      padding: 30px; }
  .gridDesing .grid2 {
    background-image: url(../assets/imagen/furriture-product.jpg);
    background-position: 50% 60%; }
    .gridDesing .grid2 a {
      text-decoration: none;
      color: white;
      font-size: 3rem;
      padding: 1.875rem;
      text-align: center; }
  .gridDesing .grid3 {
    background-image: url(../assets/imagen/additional-features-product.jpg); }
    .gridDesing .grid3 a {
      text-decoration: none;
      color: white;
      font-size: 3rem;
      padding: 1.875rem; }

.navBar {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1.25rem; }
  .navBar li a {
    text-decoration: none;
    color: white; }
  .navBar :hover {
    color: goldenrod; }

@media (max-width: 1024px) {
  .sectionButton {
    padding-right: 6.25rem; } }

@media (max-width: 768px) {
  .headerNavbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: .3125rem; }
  .sectionPrincipal2 {
    display: flex;
    flex-direction: column; }
  .aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0; }
  .sectionButton {
    display: flex;
    justify-content: end;
    padding-top: 1.25rem;
    padding-right: 1.125rem; }
  .itemLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0; } }

@media (max-width: 768px) {
  .usMg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .usMg img {
      width: 25rem; }
  .usMgreverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .usMgreverse img {
      width: 25rem; } }

@media (max-width: 425px) {
  .mainUs {
    height: 100%; }
    .mainUs h2 {
      text-align: center;
      font-size: 3.125rem; }
    .mainUs section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      .mainUs section .usMg {
        display: flex;
        flex-direction: column;
        padding: 2.5rem; }
        .mainUs section .usMg h3 {
          text-align: center;
          padding-bottom: .625rem; }
        .mainUs section .usMg p {
          text-align: center; }
      .mainUs section .usMgreverse {
        display: flex;
        flex-direction: column;
        padding: 2.5rem; }
        .mainUs section .usMgreverse h3 {
          text-align: center;
          padding-bottom: .625rem; }
        .mainUs section .usMgreverse p {
          text-align: center; } }

@media (max-width: 425px) {
  .couchLisboa {
    height: 6.25rem;
    background-position: center; }
    .couchLisboa a {
      font-size: 1.25rem; }
  .couchAmerico {
    height: 6.25rem;
    background-position: 100% 30%; }
    .couchAmerico a {
      font-size: 1.25rem; }
  .couchAfrica {
    height: 6.25rem;
    background-position: 100% 60%; }
    .couchAfrica a {
      font-size: 1.25rem; }
  .couchPraga {
    height: 6.25rem;
    background-position: 10%; }
    .couchPraga a {
      font-size: 1.25rem; } }
