//footer 
.footerPrincipal{
    @include flex (column, start, center);
    padding-top: 1.875rem;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-style: normal;
    gap: .625rem;
    background-color: rgb(222, 218, 218);
        h2{
            padding-bottom: 1.25rem;
            font-size: x-large;
            font-size: xx-large;
        }
        div{
            color: #26272A;
            a{
                font-weight: 300;
                text-decoration: none;
                color: #26272A;
                font-size: xx-large;
            }
            :hover{
                color: gray;
            }
            p{
                font-weight: 50;
                text-align: center;
                padding: .625rem .625rem;
                gap: .125rem;
                font-size: large;
            }
        }
        }
        .footerEnd{
            padding: 1.875rem;
            font-family: "Lato",sans-serif;
            font-weight: 100;
            font-style: normal;
            background-color: rgb(222, 218, 218);
        }