.navBar{
    @include flex (row, center, center);
    list-style: none;
    gap: 1.25rem;
    li a{
        text-decoration: none;
        color: white;
}
    :hover{
    color: goldenrod;
    font-weight: 300;
}
}
