.mainAfrica{
    height: 70rem;
        h2{
            text-align: center;
            padding-top: 1.875rem;
            font-size: 2.875rem;
        }
}
.africa{
    @include flex (row, center, center);
    padding: 5rem;
    gap: 1.25rem;
    img{
        width: 700px;
        height: 400px;
        border-radius: .625rem;
    }
    p{
        margin-top: 17.125rem;
        background-color: rgba(255, 255, 255, 0.153);
        padding: .625rem;
        border-radius: .625rem;
        font-size: 1.25rem ;
    }
}