.gridDesing{
    display: grid;
    grid-template-rows: 18.75rem 18.75rem 18.75rem;
    gap: .625rem;
    .grid1{
        width: 100%;
        background-image: url(../assets/imagen/foto-12.jpg);
        background-position: 30% 60%;
            a{
                text-decoration: none;
                color: white;
                font-size: 48px;
                padding: 30px;
            }
                :hover{
                    color: black;
                }
    }
    .grid2{
        background-image: url(../assets/imagen/foto-9.jpeg);
        background-position: 14% 50%;
            a{
                text-decoration: none;
                color:white;
                font-size: 3rem;
                padding: 1.875rem;
                text-align: center;
            }
                :hover{
                color: black;
                }
    }
    .grid3{
        background-image: url(../assets/imagen/foto-7.jpeg);
        background-position: 14% 50%;
            a{
                text-decoration: none;
                color: white;
                font-size: 3rem;
                padding: 1.875rem;
            }
                :hover{
                color: black;
                }
    }
}
        



