.couchLisboa{
    background-image: url(../assets/Imagen/lisboa-couch-desing.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 9.375rem;
    a{
        padding: .625rem;
        color: #26272A;
        font-size: normal;
        text-decoration: none;
        letter-spacing: .375rem;
        font-size: 2.5rem;
}  
}
.couchAmerico{
    background-image: url(../assets/Imagen/americo-couch-desing.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 9.375rem;
    a{
        padding: .625rem;
        color: #26272A;
        font-size: normal;
        text-decoration: none;
        letter-spacing: .375rem;
        font-size: 2.5rem;
} 
}
.couchAfrica{
    background-image: url(../assets/Imagen/africa-couch-desing.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 9.375rem;
    a{
        padding: .625rem;
        color: #26272A;
        font-size: normal;
        text-decoration: none;
        letter-spacing: .375rem;
        font-size: 2.5rem;
} 
}
.couchPraga{
    background-image: url(../assets/Imagen/praga-couch-desing.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 9.375rem;
    a{
        padding: .625rem;
        color: #26272A;
        font-size: normal;
        text-decoration: none;
        letter-spacing: .375rem;
        font-size: 2.5rem;
} 
}

