.sectionPrincipal{
    margin-left: .75rem;
    margin-right: .75rem;
    border-radius: .625rem;
    background-image:url(/assets/imagen/foto-11.webp) ;
    background-position: 30% 80%;
    background-repeat: none;
    background-size:cover ;
    height: 42.5rem;
    @include flex (column, space-evenly, end);
        h2{
            font-size: 6.25rem;    
            color: #26272A;
            letter-spacing: .125rem;
            font-weight: 300;
            margin-right: 9.375rem;
            padding-top: 2.5rem;
        }
        div{
            background-color: rgba(0, 0, 0, 0.202);
            width: 24%;
            padding: .5rem;
            margin-right: 3.125rem;
            border-radius: .625rem;
                h3{
                    padding-bottom: .9375rem;
                    font-size: xx-large;
                    font-weight: 300;
                }
                p{
                    font-size: x-large;
                    font-weight: 100;
                    color: white;
                }
        }
}